@charset "UTF-8";
.banner604{
    position: relative;
}
.banner604 a{
    position: absolute;
    top: 0;
    left: 0;
    height: 604px;
    width: 100%;
    background: url(../images/banner.jpg) no-repeat top center;
}
.main{
    position: relative;
}

.slider{
    margin-left: 220px;
    margin-top: 12px;
    width: 730px;
    height: 453px;
    float: left;
    position: relative;
}
.circle{
    position: absolute;
    bottom: 8px;
    left:50%;
    margin-left:-66px;
}
.circle li{
    float: left;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #3E3E3E;
    text-align: center;
    line-height: 18px;
    color: #fff;
    margin: 0 2px;
    cursor: pointer;
}
.circle li.current{
    background-color: #B61B1F;
}
.arrow a{
    position: absolute;
    width: 28px;
    height: 62px;
    top: 50%;
    margin-top:-31px;
    color: #fff;
    font:500 18px/62px "宋体";
    text-align: center;
    background: rgba(0,0,0,0.3);
}
.arrow-l{
    left: 0;
}
.arrow-r{
    right: 0;
}
.news{
    width: 248px;
    height: 451px;
    border:1px solid #e4e4e4;
    float: right;
    margin-top: 12px;
}